:root {
  --white: #ffffff;
  --black: #1a2938;

  --blue-extra-dark: #0090d2;
  --blue-dark: #00aeff;
  --blue-medium: #00aeffbf;
  --blue-light: #00aeff7f;
  --blue-extra-light: #00aeff26;

  --green-extra-dark: #69c38e;
  --green-ocean: #0ca1a199;
  --green-medium: #69c38ebf;
  --green-light: #69c38e7f;
  --green-ultra-light: #69c38e26;

  --neutral-400: #1026294d;

  --gray-extra-dark: #677486;
  --gray-medium: #a9b5c7;
  --gray-light: #eaf0f5;
  --gray-dark: #ffffffb2;
  --gray-extra-medium: #d6e5f2;

  --red-extra-dark: #f35625;
  --red-light: #fdddd3;
}
